* {
	background: @background;
	color: @foreground;

	font-size: 16px;
	font-family: "JetBrainsMono NF";

	border-radius: 0;
	border: none;
	min-height: 0;
}

.modules-left {
	/*margin-left: 8px;*/
	padding: 7px;
	margin:6 0 1 10;
	border-radius:10px;
	background: alpha(black,.6);
	box-shadow: none;
	/*border: 2px solid;
	animation: rainbow-border 8s infinite linear;*/
}

.modules-right {
	/*margin-right: 8px;*/
	padding: 7px;
	margin:6 10 1 0;
	border-radius: 10px;
	background: alpha(black,.6);
	box-shadow: none;
}

.modules-center {
	padding:7px;
	margin:6 0 1 0;
	border-radius:10px;
	background: alpha(black,.6);
	box-shadow: none;
}

#workspaces button {
	padding: 0 8px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 8px;
}

tooltip, 
#tray menu {
	border-radius: 5px;
	background: alpha(black,.6);
	box-shadow:none;
}

#tray menu *:hover {
	background: alpha(#0062ff, .8);
}

#network {
	color: #6c71c4;
}
#backlight {
	/* Color using format-icon spans in config.jsonc*/
	/* color: #21ff90; */
}
#wireplumber {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	/* Color using format-icon spans in config.jsonc*/
	/* color: #6c71c4; */
}
#battery {
	color: #859900;
}
#battery.warning {
	color: #859900;
}
#battery.critical, #network.disconnected, #wireplumber.muted, #wireplumber.sink-muted, #wireplumber.source-muted {
	color: #fa5246;
}

#clock,
#network,
#backlight,
#wireplumber,
#cpu,
#battery,
#disk,
#tray,
#custom-notification {
	padding: 0 8 0 8px;
}
